* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

svg {
  cursor: pointer;
}

#screen-collapse-bar svg {
  margin-top: 0;
}

#tableData {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: end;
}

#tablePaper {
  padding: 12px;
  min-height: 100vh;
}

#tableContainer td {
  padding: 16px 16px 16px 28px;
}

.roundNameCircle {
  display: flex;
  gap: 1.8em;
  align-items: center;
  justify-content: center;
  width: max-content;
  cursor: pointer;
}

.upperSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1058px;
  padding: 0px 8px;
  margin: 12px 0px;
}

#textFieldSearch div div input {
  padding: 10px 16px;
}

#textFieldSearch div label {
  position: absolute;
  top: -5px;
}

#userBadgeName {
  position: relative;
}

#userBadgeName::before {
  position: absolute;
  content: "";
  top: -20px;
  left: -20px;
  border-radius: 50%;
  padding: 20px;
}

.css-1qdzy9k-MuiBarElement-root{
  fill: #9a64e0 !important;
}

#downloadHistory{
  position: relative;
  padding-top: 2em;
  overflow: hidden;
  z-index: 10;
}

#downloadHistory::before{
  content: '';
  position: absolute;
  inset: 0;
  z-index: -10;
  background: linear-gradient(to bottom right, rgb(247, 247, 247), rgb(238, 238, 238));
  filter: blur(8px);
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#downloadHistory div{
  display: flex;
  align-items: center;
}

.MuiDialogContent-root .css-1kxd7on-MuiDialogContent-root{
  padding-left: 0px;
}

@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .upperSearch {
    width: 96%;
    align-items: start;
    margin: 12px 24px;
    gap: 6px;
  }

  .upperSearch p {
    font-size: 14px;
  }

  .tableData {
    align-items: start;
    width: 100%;
  }

  #tableData {
    padding: 0px;
  }

  #tablePaper {
    min-width: 100vw;
  }

  #tableContainer {
    max-height: 590px;
  }
}

.css-io5c2v-MuiContainer-root{
  width: none;
}