.modal-header {
  display: flex;
  justify-content: space-between;
}

.Modalwrapper {
  display: flex;
  overflow: scroll;
  height: 100%;
}

#modal .MuiDialog-container .css-c09uja-MuiPaper-root-MuiDialog-paper {
  display: flex;
  width: 100%;
  max-width: none;
  height: 100%;
}

.sidebar-modal {
  width: 30%;
  padding: 1em 1.3em;
  background-color: #f2f0eb;
  overflow: scroll;
}

.sidebar-modal li {
  padding-left: 8px;
  margin: 4px 0px;
  cursor: pointer;
}

#employeeId {
  padding: 0px 24px;
}


.sidebar-modal li span {
  font-size: 0.9rem;
  letter-spacing: 0.6px;
}

#listItem:hover {
  background: #dbdbdb;
  border-radius: 2px;
}

.modal-feature {
  width: 100%;
}

.modal-feature div {
  padding-top: 0px;
}

#userName{
  padding: 12px 12px 4px 12px;
}

#userName .roundNameCircle{
  gap: 1.2em;
}

#employeeId{
  width: fit-content;
  padding: 0 2.3em;
}

@media (max-width: 850px) {
  .sidebar-modal li {
    padding: 8px 0px;
  }
}

@media (max-width: 730px) {
  .Modalwrapper {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .sidebar-modal {
    padding: 0px 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
    padding: 4px;
    overflow: scroll;
  }

  .sidebar-list {
    overflow: scroll;
    padding: 0px 8px;
  }

  .sidebar-list ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1em;
  }

  .sidebar-list ul li {
    padding: 0;
    min-width: fit-content;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    background-color: #6754e2;
    font-size: 10px;
  }

  .sidebar-modal div {
    padding: 0px 6px;
  }

  .modal-feature div {
    padding: 0px 4px;
  }

  #modal .MuiDialog-container .css-c09uja-MuiPaper-root-MuiDialog-paper {
    display: flex;
    width: 1024px;
    max-width: none;
    min-height: 100vh;
  }

  #userName{
    padding: 12px 12px 4px 12px;
  }

  #userName .roundNameCircle{
    gap: 1.2em;
  }

  #employeeId{
    padding: 0 2.7em;
  }
}
